$themes: (
    light: (
        bodyBackgroundColor: #f8f8fa,
        headerBackground: #fff,
        footerBackground: #fff,
        textColor: #000,
    ),
    dark: (
        bodyBackgroundColor: #202023,
        headerBackground: #48494f,
        footerBackground: #202023,
        textColor: #eff2f7,
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}