$themes: (
    light: (
        bodyBackgroundColor: #f8f8fa,
        headerBackground: rgba(255, 255, 255, 0.975),
        footerBackground: #fff,
        switchBackground: #ccc9c9,
        toggleBackground: #e9e4e4,
        textColor: #24292f,
        disabledTextColor: rgba(0, 0, 0, 0.5),
        borderColor: #c9c9c9,
        selectedItemBackground: #e9e4e4,
        bannerBorderColor: #eeeeee,
        contentBackground: #fff
    ),
    dark: (
        bodyBackgroundColor: #202023,
        headerBackground: rgba(36, 41, 47, 0.975),
        footerBackground: #202023,
        switchBackground: #111417,
        toggleBackground: #111417,
        textColor: #eff2f7,
        disabledTextColor: rgba(239,242,247, 0.5),
        borderColor: #424a53,
        selectedItemBackground: #424a53,
        bannerBorderColor: #d0d0d0,
        contentBackground: #24292f
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}