.images_info_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow-overlay {
    opacity: 1;
    position: absolute;
    top: 67%;
    left: 10%;
    width: 24%;
    height: 24%;
    z-index: 2;
}