@import '../../styles/theme-variables.scss';

@media (max-width: 500px) {
  .pokemon_card {
    white-space: nowrap;
    font-size: calc(7px + .5vw);
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

@media (min-width: 501px) {
  .pokemon_card {
    white-space: nowrap;
    font-size: calc(10px + .5vw);
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

.table-image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.header_container {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px 0px 10px;
  flex-direction: row;
}

.header_footer {
  padding-bottom: 5px;
}

.type-icon {
  margin-left: 2px;
}

.ivs-table {
  width: 50%
}

@media (max-width: 768px) {
  .ivs-table {
    width: 75%
  }
}

td {
  text-align: center
}