.events-header-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 120px;
    width: 100%;
    img {
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.ul-with-adorner {
    list-style-type: circle;
    list-style-position: inside;
    display: list-item;
    padding-right: 16px;
}

@media (min-width: 500px) {
    .events-header-image-container {
        height: 215px;
    }
}