.with-flex {
	display: flex;
	flex-wrap: wrap;
}

.dynamic-size {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	aspect-ratio: 1 / 1;
}

.contained {
	/* max-width: 85%;*/
	justify-content: center;
	margin-left: auto !important;
	margin-right: auto !important;
}

.with-golden-border {
	border: 3px solid var(--cp-color) !important;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.bonus-container {
	padding: 12px;
	font-size: 14px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 9px;
}

.auto-margin-sides {
	margin-left: auto;
	margin-right: auto;
}

.with-dynamic-max-width {
	width: 100%;
	max-width: 1024px;
}

.relative {
	position: relative;
}

.aligned-text-marker {
	color: var(--event-special-font);
	margin-left: 5%;
	align-self: center;
	font-size: 50px;
	font-weight: 700;
}

.wrapped {
	flex-wrap: wrap;
}

.rockets-row-wrapper {
	justify-content: space-between;

	/* background-color: var(--background-shadow-soft);*/
	border: 1px solid var(--borderColor2);
	border-radius: 12px;

	/* margin: 0px 9px;*/
	/* padding: 0px 9px;*/
	padding: 1px;
	width: 100%;
}

.row-container {
	gap: 5px;
	margin: 0 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
}

.in-row {
	display: flex;
	flex-direction: row;
}

.boss-header-filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	justify-content: center;
}

.in-column {
	display: flex;
	flex-direction: column;
}

@media (width <= 768px) {
	.with-dynamic-max-width {
		max-width: 100%;
	}
}

@media (width <= 700px) {
	.contained {
		max-width: 100%;
	}
}

@media (width <= 565px) {
	.dynamic-size {
		width: 70px;
		min-width: 70px;
		max-width: 70px;
	}

	.bonus-container {
		font-size: 12px;
	}
}
