@import '../styles/theme-variables.scss';

.pokedex {
    height: 100%;
    width: 100%;
    @include themify($themes) {
        background: themed("footerBackground");
        color: themed("textColor");
    }
}