.layout {
    width: 100%;
    max-width: 1300px;
}

.navigation-header {
    top: 0;
    margin: 0;
    padding: 0 12px 0 12px;
    z-index: 5;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--bodyBackgroundColor);
    ul {
        display: flex;
        align-items: center;
        padding: 0;
        gap: 6px;
        list-style: none;
        margin: 9px 0px;
    }
}

.navigation-header.leagues {
    justify-content: center;
}

.navigation-header.extra-gap {
    ul {
        gap: 12px;
    }
}

.header-tab {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    cursor: pointer;
    padding: 3px 12px;
    color: var(--buttonsTextColor);
    background-color: var(--buttonsBackground);
    border: 1px solid var(--borderColor2);
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;
    height: 50px;
    white-space: nowrap;
    box-shadow: 0px 0px 0px rgba(3,7,18,.1),0px 1px 1px rgba(3,7,18,.08),0px 1px 1px rgba(3,7,18,.06),0px 3px 3px rgba(3,7,18,.04),0px 4px 4px rgba(3,7,18,.02);
    &:hover {
        border: 1px solid var(--buttonsBorderColor);
    }

    &.league-picker {
        height: unset;
    }
}

.selected {
    background-color: var(--contentBackground);
}

.pokedex {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 148px);
    padding-top: 8px;
    border-top: 1px solid var(--borderColor2);
    box-shadow: inset 0px -2px 0px -2px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {
    .pokedex {
        max-height: calc(100vh - 124px);
    }

    .navigation-header.extra-gap {
        ul {
            gap: 6px;
        }
    }

    .navigation-header {
        padding: 0px;
    }
}