@import '../styles/theme-variables.scss';

.pokemon {
  @include themify($themes) {
    color: themed("textColor");
  }
}

.pokemon-content {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 20px;
  @include themify($themes) {
    background: themed("bodyBackgroundColor"); //{isDarkMode ? grey[900] : '#fff'};
    border: 1px solid themed("borderColor"); //${isDarkMode ? grey[700] : grey[200]};
  }
  border-radius: 12px;
}

.dark_mode_switch {
  margin-left: 20px;
}

.expanded_top_pane {
  padding-top: 142.2px;
}

.collapsed_top_pane {
  padding-top: 16px;
}

.control_panel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.rankings {
  margin-top: 8px;
  margin-bottom: 16px;
}

.tab_panel_container {
  word-wrap: break-word;
  //touch-action: none;
}

.grid_container {
  a {
    text-decoration: none;
  }
}

.grid > div {
  padding: 5px;
}
