@import "../index";

.pokemon {
    color: $textColor;
}

.pokemon-content {
    font-size: 0.875rem;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 20px;
    background: $bodyBackgroundColor;
}

.dark_mode_switch {
    margin-left: 20px;
}

.expanded_top_pane {
    padding-top: 142.2px;
}

.collapsed_top_pane {
    padding-top: 16px;
}

.control_panel {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.rankings {
    margin-top: 8px;
    margin-bottom: 16px;
}

.tab_panel_container {
    word-wrap: break-word;
    //touch-action: none;
}

.grid_container {
    a {
        text-decoration: none;
    }
}

.grid > div {
    padding: 5px;
    border: 1px solid $borderColor;
}

@media (max-width: 500px) {
    .pokemon-content {
        padding-right: 0px;
        padding-left: 0px;
    }
}