@import '../styles/theme-variables.scss';

.pokemon {
  @include themify($themes) {
    color: themed("textColor");
  }
}

.dark_mode_switch {
  margin-left: 20px;
}

.control_panel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.rankings {
  margin-bottom: 16px;
}

.tab_panel_container {
  word-wrap: break-word;
  //touch-action: none;
  max-height: 60vh; //temporary
  max-width: 60vh; //temporary
}