@import "../index";

.appraisal-container {
    position: relative;
    touch-action: none;
}

.MuiSlider-root {
    padding: 0 !important;
    height: 100% !important;
}

.MuiSlider-thumb {
    height: 0px !important;
    width: 0px !important;
    &::after {
        height: 0px !important;
        width: 0px !important;
    }
}

.appraisal-slider {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
}

.appraisal-component {
    position: relative;
}

.appraisal {
    //max-width: 700px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: $popup-background-color;
    border-radius: 12px;
    border: 1px solid $borderColor;
}

.appraisal .stat {
    margin: 0 10px 10px
}

.appraisal .stat h4 {
    font-weight: 400;
    margin: 0 0 3px;
    display: flex;
    justify-content: space-between
}

.appraisal .stat h4 span {
    color: $textColor;
}

.appraisal .stat-bar {
    display: flex;
    background: rgba(0,0,0,.08);
    border-radius: 9px
}

.appraisal .stat-bar .bar {
    height: 13.5px;
    flex: 1 1 40px;
    border-right: 1px solid rgba(255,255,255,.3);
    cursor: pointer;
    border: 1px solid $borderColor;
}

.appraisal .stat-bar .bar.hover {
    background: #f5bf78
}

.appraisal .stat-bar .bar.active {
    background: #e1973b
}

.appraisal .stat-bar .bar.end {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px
}

.appraisal .stat-bar .bar:nth-child(5n+1) {
    border-left: 4px solid #fff
}

.appraisal .stat-bar .bar:first-child {
    border-left: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px
}

.appraisal .stat-bar.max .bar.active {
    background: #d4847c
}

.appraisal .stat-bar.max-hover .bar {
    background: #dea39f
}

.appraisal .stat-bar .bar.hover.max-hover {
    background: #dea39f
}

.select-ivs {
    color-scheme: dark;
    padding-top: 1px;
    margin-left: 4px;
    background: $contentBackground;
    color: $textColor;
    border: 0px;
    outline: 1px solid $buttonsBorderColor;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
    .appraisal {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: 6px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 500px) {
    .appraisal {
        max-width: unset;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .appraisal .stat {
        max-width: 100%;
    }

    .stat-current-value {
        align-self: center;
    }

    .select-ivs {
        color-scheme: dark;
        padding-top: 1px;
        background: $contentBackground;
        color: $textColor;
        border: 0px;
        outline: 1px solid $buttonsBorderColor;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
}