@import '../styles/theme-variables.scss';

.appraisal-container {
    position: relative;
}

.MuiSlider-root {
    padding: 0 !important;
    height: 100% !important;
}

.MuiSlider-thumb {
    height: 0px !important;
    width: 0px !important;
    &::after {
        height: 0px !important;
        width: 0px !important;
    }
}

.appraisal-slider {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
}

.appraisal-component {
    position: relative;
}

.appraisal {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.data-grid {
    margin: 10px 10px 20px;
}

.appraisal .stat {
    margin: 0 10px 10px
}

.appraisal .stat h4 {
    font-weight: 400;
    margin: 0 0 3px;
    font-size: 17px;
    display: flex;
    justify-content: space-between
}

.appraisal .stat h4 span {
    @include themify($themes) {
        color: themed("textColor");
    }
}

.appraisal .stat-bar {
    display: flex;
    background: rgba(0,0,0,.08);
    border-radius: 9px
}

.appraisal .stat-bar .bar {
    height: 18px;
    flex: 1 1 40px;
    border-right: 1px solid rgba(255,255,255,.3);
    cursor: pointer;
    @include themify($themes) {
        border: 1px solid themed("borderColor");
    }
}

.appraisal .stat-bar .bar.hover {
    background: #f5bf78
}

.appraisal .stat-bar .bar.active {
    background: #e1973b
}

.appraisal .stat-bar .bar.end {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px
}

.appraisal .stat-bar .bar:nth-child(5n+1) {
    border-left: 4px solid #fff
}

.appraisal .stat-bar .bar:first-child {
    border-left: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px
}

.appraisal .stat-bar.max .bar.active {
    background: #d4847c
}

.appraisal .stat-bar.max-hover .bar {
    background: #dea39f
}

.appraisal .stat-bar .bar.hover.max-hover {
    background: #dea39f
}

#result .preview .stat-split .stat {
    text-align: center;
    flex: 1 1 50%;
    padding: 2px 0
}

#result .preview .stat-split .stat:last-child {
    border-left: 1px solid rgba(0,0,0,.1)
}

#result .preview .stat-split .stat span {
    font-size: 32px;
    margin-bottom: 8px
}

#result .preview .stat-split .stat p {
    font-size: 15px;
    color: rgba(0,0,0,.54)
}

#result .preview .stat-split .stat:first-child span {
    color: #38a169
}

.select-ivs {
    color-scheme: dark;
    font-size: small;
    padding-top: 1px;
    margin-left: 4px;
    @include themify($themes) {
        background: themed("contentBackground");
        color: themed("textColor");

        border: 0px;
        outline: 1px solid themed("buttonsBorderColor");
    }
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 500px) {
    .appraisal {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: 6px;
    }

    .data-grid {
        max-width: 100%;
    }

    .appraisal .stat {
        max-width: 100%;
    }

    .appraisal .stat h4 {
        font-size: 12px
    }

    .appraisal .stat-bar .bar {
        height: 13.5px;
    }

    .stat-current-value {
        align-self: center;
    }

    .select-ivs {
        color-scheme: dark;
        font-size: small;
        padding-top: 1px;
        @include themify($themes) {
            background: themed("contentBackground");
            color: themed("textColor");
            border: 0px;
            outline: 1px solid themed("buttonsBorderColor");
        }
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
}