.appraisal .stat {
    max-width: 80%;
    margin: 0 auto 16px
}

.appraisal .stat h4 {
    font-weight: 400;
    margin: 0 0 3px;
    font-size: 17px
}

.appraisal .stat h4 {
    display: flex;
    justify-content: space-between
}

.appraisal .stat h4 span {
    color: #ccc
}

.appraisal .stat-bar {
    display: flex;
    background: rgba(0,0,0,.08);
    border-radius: 9px
}

.appraisal .stat-bar .bar {
    height: 18px;
    flex: 1 1 40px;
    border-right: 1px solid rgba(255,255,255,.3);
    cursor: pointer
}

.appraisal .stat-bar .bar.hover {
    background: #f5bf78
}

.appraisal .stat-bar .bar.active {
    background: #e1973b
}

.appraisal .stat-bar .bar.end {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px
}

.appraisal .stat-bar .bar:nth-child(5n+1) {
    border-left: 4px solid #fff
}

.appraisal .stat-bar .bar:first-child {
    border-left: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px
}

.appraisal .stat-bar.max .bar.active {
    background: #d4847c
}

.appraisal .stat-bar.max-hover .bar {
    background: #dea39f
}

.appraisal .stat-bar .bar.hover.max-hover {
    background: #dea39f
}

@media all and (max-width: 400px) {
    .data-grid {
        max-width:100%;
        margin: 10px 10px 20px
    }

    .appraisal .stat {
        max-width: 100%;
        margin: 0 10px 10px
    }

    .appraisal .stat h4 {
        font-size: 14px
    }
}

#result .preview .stat-split .stat {
    text-align: center;
    flex: 1 1 50%;
    padding: 2px 0
}

#result .preview .stat-split .stat:last-child {
    border-left: 1px solid rgba(0,0,0,.1)
}

#result .preview .stat-split .stat span {
    font-size: 32px;
    margin-bottom: 8px
}

#result .preview .stat-split .stat p {
    font-size: 15px;
    color: rgba(0,0,0,.54)
}

#result .preview .stat-split .stat:first-child span {
    color: #38a169
}