@import '../styles/theme-variables.scss';
.top-pane {
    border-color: #c9c9c9;
    border-radius: 25px;
    border-style: solid;
    min-height: 180px;
    position: fixed;
    width: 100%;
    z-index: 2;
    @include themify($themes) {
        background: themed("headerBackground");
        color: themed("textColor");
    }
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label.Mui-disabled {
    @include themify($themes) {
        background: themed("headerBackground");
        color: themed("disabledTextColor");
    }
}