.big-height {
    min-height: 80vh;
}

.text-color {
    color: var(--textColor);
}

.column {
    flex-direction: column;
    gap: 6px;
}

.dark-text {
    color: #000000;
}

.main-btn {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}