.big-height {
    min-height: 80vh;
    padding-bottom: 71px;
}

.text-color {
    color: var(--textColor);
}

.column {
    flex-direction: column;
    gap: 6px;
}

.row-flex {
    display: flex;
    flex-direction: row;
    gap: 6px;

    >div {
        display: flex;
        align-items: center;
    }
}

.dark-text {
    color: #000000;
}

.main-btn {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}