.news-display-layout {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 12px;
}

.news-header-section {
    display: grid;
    grid-template-columns: 38% 58%;
    max-height: 266px;
    > * {
        max-height: 266px;
    }

    gap: 4%;
    img {
        min-height: 200px;
        border-radius: 12px;
        border: 1px solid var(--borderColor2);
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.current-news-bonus {
    height: 100%;
}

.bonus-container {
    height: 100%;
    overflow-y: auto;
}

.news-selected {
    width: 13% !important;
    min-width: 140px !important;
    img {
        border: 3px solid var(--cp-color) !important;
    }
}

.season-miniature {
    //border-right: 1px solid var(--borderColor2);
}

.miniature-date {
    font-weight: 700;
    text-align: center;
}

.post-miniature {
    display: flex;
    flex-direction: column;
    width: 11%;
    min-width: 100px;
}

.news-gallery {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    img {
        border-radius: 12px;
        border: 1px solid var(--borderColor2);
        width: auto;
        //max-width: 100%;
    }
    >:first-child {
        margin-left: auto;
    }
    >:last-child {
        margin-right: auto;
    }
}

.current-news-main-info {
    display: grid;
    grid-template-rows: 22% 20% 58%;
}

.current-news-title {
    font-size: xx-large;
    font-weight: 700;
    word-wrap: break-word;
}

.pkm-container {
    display: flex;
    flex-direction: row;
}

.from-date {
    font-weight: 700;
    font-size: medium;
}

.to-date {
    font-weight: 700;
    font-size: small;
}

.date-container {
    color: var(--event-special-font);
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.pokemon_with_ivs_events {
    display: grid;
    grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
    gap: 9px;
}

.current-news-image-wrapper {
    img {
        //border-radius: 120px;
        //clip-path: inset(21px);
    }
}

.centered-overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
    .news-header-section {
        display: flex;
        flex-direction: column;
        max-height: unset;
        > * {
            max-height: unset;
        }
    
        gap: 0px;
        img {
            align-self: center;
            max-width: 60%;
            min-height: unset;
        }
    }

    .current-news-main-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 6px;
    }

    .current-news-title {
        font-size: 5vw;
        text-align: center;
    }

    .from-date {
        font-weight: 700;
        font-size: 12px;
    }

    .to-date {
        font-weight: 700;
        font-size: 12px;
    }

    .current-news-date {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .pokemon_with_ivs_events {
        grid-template-columns: 100%;
    }
}

@media (max-width: 500px) {
    .news-display-layout {
        padding: 12px 0px;
    }

    .miniature-date {
        font-size: x-small;
    }

    .post-miniature {
        min-width: 75px;
    }

    .news-selected {
        min-width: 100px !important;
    }
}