

.pvp-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    gap: 6px;
}

.pvp-stats-column {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;
    gap: 6px;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 5px 5px rgba(0,0,0,.25);
    border-radius: 12px;
    border: 1px solid var(--buttonsBorderColor);
    border-radius: 12px;
}

.pvp-labels {
    display: flex;
    flex-direction: column;
    gap: 6px;

    header {
        font-weight: 500;
    }
}

.pvp-scores {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6px;
    border-radius: 12px;
    background-color: rgba(0,0,0,.5);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.pvp-entry {
    border-radius: 12px;
    background-color: rgba(0,0,0,.5);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 4px 6px 4px 6px;
}

.smooth {
    background-color: rgba(0,0,0,.25);
}

.rank-title {
    background-color: rgba(0,0,0,.35);
}

.pvp-entry-content {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    gap: 3px;
    padding: 3px 0;
    sub {
        opacity: .55;
    }
}

.centered-text {
    text-align: center;
}

.unranked {
    opacity: 0.67;
}

.cp-and-level {
    opacity: 0.9;
}

.custom-pokemon {
    width: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 2px;
    padding-bottom: 4px;
}

.type-attack {
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon-attack {
    img {
        align-self: center;
        width: 10px;
        height: 10px;
    }
}

.percentile {
    opacity: 0.67;
}

.pvp-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    h3, h4 {
        margin: 0;
        width: 100%;
    }
}

.pvp-img {
    color: transparent;
    width: 64px;
    height: 64px;
}

.pvp-stats-display {
    border-radius: 12px;
    background-color: rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    padding: 9px;
}

.pokemon-ivs {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon-ivs-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    border-radius: 12px;
}

.pokemon-ivs-label {
    font-weight: 400;
}

.great {
    background: linear-gradient(45deg,#5f699d,#89b3d7);
}

.ultra {
    background: linear-gradient(45deg,#777151,rgb(111, 101, 81));
}

.master {
    background: linear-gradient(45deg,rgb(70, 51, 96),#a687cf);
}

.custom {
    background: linear-gradient(45deg,#bf4f40,#ebe1ad);
}

@media (max-width: 530px) {
    .cp-and-level-recommended {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pvp-stats-display {
        width: 100%;
        padding: 3px;
    }

    .pvp-img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 335px) {
    .pvp-entry-content {
        font-weight: 370;
    }

    .rank-title .pvp-entry-content{
        font-weight: 500;
    }
}