.selectable {
	cursor: pointer;
}

.heavy-weight {
	font-weight: 800;
}

button {
	color: var(--buttonsTextColor);
	border-radius: 12px;
	font-size: inherit;
	border: 1px solid var(--buttonsTextColor);
}
