@import "../index";

.pokemon-number {
    border-radius: 12px;
    padding: clamp(3px, 1.72vw, 6px) clamp(6px, 1.72vw, 12px);
    background-color: $buttonsBackground;
    font-size: clamp(9px, 1.72vw, 14px);
}