.ivs-table {
	height: 75vh !important;
	width: 100% !important;
	border-radius: 4px;
	border: 1px;
	border-style: solid;
	box-shadow:
		0 2px 1px -1px rgb(0 0 0 / 20%),
		0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
	border-color: var(--borderColor2);
	overscroll-behavior: none !important;

	th {
		font-weight: 700;
	}
}

.extra-ivs-options {
	display: flex;
	justify-content: center;
	align-items: center;
}

.MuiTableRow-root.Mui-selected {
	background-color: var(--tableRowSelected) !important;
}

.ivs-nav {
	background-color: unset;
}

.MuiTableContainer-root,
.MuiTableCell-head {
	color: var(--textColor) !important;
	background-color: var(--tableBackground) !important;
	color-scheme: var(--colorScheme) !important;
}

.MuiTableCell-body {
	color: var(--textColor) !important;
}

.MuiButtonBase-root.MuiTableSortLabel-root.Mui-active {
	color: var(--tableHeaderSortable);
}

.MuiTableRow-root {
	background-color: var(--tableBackground) !important;
}

.MuiTableRow-hover {
	&:hover {
		background-color: var(--tableBackgroundHover) !important;
	}
}

.MuiTableSortLabel-root {
	&:hover {
		color: var(--tableHeaderSortable) !important;
	}
}
