@import "../index";

.pokemonheader-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    padding: 18px;
    margin: calc(-1 * 5px);
    margin-bottom: auto;
    border-radius: 4px 4px 0 0;
    text-shadow: 0 0 10px rgba(0,0,0,.5),0 2px 3px rgba(0,0,0,.5);
    border-bottom: 1px;
}

.pokemonheader-name {
    color: $textColor;
    margin: 0;
    padding: 0;
    font-size: clamp(31.5px, 5vw, 36px);
}

@media (max-width: 500px) {
    .pokemonheader-name {
        font-size: clamp(20px, 6vw, 32px);
    }

    .pokemonheader-header {
        border-radius: 0;
    }
}