@import '../styles/theme-variables.scss';

.grid-container {
    margin: 0;
    height: 100%;
    width: 100%;
    @include themify($themes) {
        background: themed("bodyBackgroundColor");
        color: themed("textColor");
    }
    .grid {
        padding-top: 200px;
        @include themify($themes) {
            background: themed("bodyBackgroundColor");
            color: themed("textColor");
        }

        .image-container {
            position: relative;
        }

        .shadow-overlay {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
