@import '../styles/theme-variables.scss';

@media (max-width: 500px) {
    h1 {
        font-size: clamp(18px, 5vw, 28px);
    }

    .name-types {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-name-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .img-container {
        display: flex;
        align-items: center;
    }

    .img-family-container {
        @include themify($themes) {
            border: 2px solid themed("bannerBorderColor");
        }
        border-radius: 50%;
        width: calc(47px + 6.5 * calc(100vw - 320px) / 180);
        height: calc(47px + 6.5 * calc(100vw - 320px) / 180);
        //box-shadow: 2px 2px 2px black;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
        padding: 5px;
        margin: 2px;
    }

    .img-selected-container {
        @include themify($themes) {
            border: 3px solid themed("bannerBorderColor");
        }
        border-radius: 50%;
        width: 33%;
        //box-shadow: 2px 2px 2px black;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    }

    .img-family {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 67%;
    }
}

@media (min-width: 501px) {
    .name-types {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .img-name-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-family-container {
        @include themify($themes) {
            border: 2px solid themed("bannerBorderColor");
        }
        border-radius: 50%;
        width: calc(32px + 32 * calc(100vw - 500px) / (1920 - 500));
        height: calc(32px + 32 * calc(100vw - 500px) / (1920 - 500));
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), inset 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), inset 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12), inset 0px 1px 3px 0px rgba(0,0,0,0.12);
        padding: 8px;
        margin: 2px;
    }

    .img-selected-container {
        @include themify($themes) {
            border: 4px solid themed("bannerBorderColor");
        }
        border-radius: 50%;
        width: calc(100px + 100 * calc(100vw - 500px) / (1920 - 500));
        height: calc(100px + 100 * calc(100vw - 500px) / (1920 - 500));
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), inset 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), inset 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12), inset 0px 1px 3px 0px rgba(0,0,0,0.12);
        padding: 16px;
    }

    .img-family {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

.stat {
    margin-right: 8px;
}

.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.types {
    margin-left: 8px;
}

table {
    table-layout: fixed;
    width: 180px;
}

.league-ranks {
    font-size: clamp(8px, calc(8px + 6 * ((100vw - 320px) / 180)), 14px);
    table-layout: fixed;
    width: calc(285px + 65 * ((100vw - 320px) / 180));
    margin-left: auto; 
    margin-right: auto;
}

.content {
    padding: 5px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    margin-bottom: 16px;
    margin-top: 16px;
    @include themify($themes) {
        background: themed("contentBackground");
        border-color: themed("borderColor");
    }
}