@import "../index";

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lvl-input-with-image {
    position: relative;
}

.lvl-input {
    z-index: 6;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

table {
    table-layout: fixed;
    width: 180px;
}

.stat {
    margin-right: 8px;
}

.content {
    padding: 5px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    background: $contentBackground;
    border-color: $borderColor;
}

.types-bg {
    color: $textColor;
    text-shadow: 0 0 10px rgba(0,0,0,.5),0 2px 3px rgba(0,0,0,.5);
    font-weight: 500;
    display: block;
    border-radius: 12px;
    padding: 6px 12px;
}

.lvl-img-selected-container {
    width: min(calc(140px + 100 * calc(100vw - 500px) / (1920 - 500)), (100vw - 0) / 2 * 0.5);
    height: min(calc(140px + 100 * calc(100vw - 500px) / (1920 - 500)), (100vw - 0) / 2 * 0.5);
}

.main-banner-content {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.types-container {
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    border-radius: 12px;
    border: 1px;

    display: flex;
    align-items: center;
    gap: 9px;
}

.types {
    display: flex;
    align-items: center;
    gap: 9px;
}

.img-family {
    background-color: $popup-background-color;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid $borderColor;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.banner-left-side {
    width: 47vw;
}

.banner-right-side {
    touch-action: none;
    display: flex;
    align-items: center;
    width: 53vw;
    align-self: center;
}

.base-stats {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 3px 12px;
    z-index: 20;
    position: relative;
}

.img-family-container {
    border: 1px solid $bannerBorderColor;
    border-radius: 50%;
    width: calc(36px + 7 * calc(100vw - 320px) / 180);
    height: calc(36px + 7 * calc(100vw - 320px) / 180);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 4px;
    margin: 1px;
}

.select-level {
    color-scheme: dark;
    font-size: small;
    padding-top: 1px;
    margin-left: 4px;
    background: $contentBackground;
    color: $textColor;
    border: 0px;
    outline: 1px solid $buttonsBorderColor;
}

.level-cp {
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    z-index: 20;
    position: relative;
}

.lvl-img-container {
    pointer-events: none;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 48px;
}

.pokemon_with_ivs {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.appraisal_with_moves {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
}

.moves_main_panel {
    background-color: $popup-background-color;
    border-radius: 12px;
    border: 1px solid $borderColor;
    width: 100%;
    padding: 12px;
}

.moves_list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.unavailable_moves {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 800px) {
    .pokemon_with_ivs {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .img-family {
        margin-left: 15%;
        margin-right: 15%;
    }

    .lvl-img-container {
        padding-top: 40px;
    }

    h1 {
        font-size: clamp(18px, 5vw, 28px);
    }
    
    .img-family-container {
        width: calc(40px + 23 * calc(100vw - 320px) / 180);
        height: calc(40px + 23 * calc(100vw - 320px) / 180);
    }

    .select-level {
        font-size: unset;
        padding-top: unset;
    }

    .level-cp {
        font-size: x-small;
    }

    .base-stats {
        margin-top: 26px;
        font-size: x-small;
    }
}