@import "../index";

.pokemon_card {
    white-space: nowrap;
    font-size: calc(10px + .5vw);
    color: $textColor;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
    flex-direction: row;
}

.header_footer {
    padding-bottom: 5px;
}

@media (max-width: 500px) {
    .pokemon_card {
        font-size: calc(7px + .5vw);
    }
}