@import "../index.scss";

.pokemon_main_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}

.left-panel {
    display: grid;
    background-color: $popup-background-color;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid $borderColor;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-container {
    display: flex;
    padding-top: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.top-left-item,
.bottom-left-item {
    box-sizing: border-box;
}

.top-left-item {
    align-self: flex-end;
}

.bottom-left-item {
    align-self: flex-end;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
}

.cp-stats-container {
    width: fit-content;
    align-items: center;
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.pokemon_number {
    font-size: clamp(40px, 14vw, 60px);
    line-height: 1;
    display: block;
    opacity: .25;
    font-weight: 700;
}

.pokemon_types {
    display: flex;
    align-items: center;
    gap: 9px;
}

.pokemon_type_bg {
    border-radius: 12px;
    padding: 6px 12px;
    text-shadow: 0 0 10px rgba(0,0,0,.5),0 2px 3px rgba(0,0,0,.5);
    font-weight: 500;
    display: block;
}

.pokemon_stats {
    font-weight: 500;
    display: flex;
    gap: 9px;
}

.stats_ranks {
    align-items: center;
    gap: 22px;
    display: flex;
    flex-direction: row;
}

.cp-level,
.pvp_stat {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cp-level {
    gap: 5px;
}