.pokemon-types {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    width: clamp(18px, 3vw, 24px);
    height: clamp(18px, 3vw, 24px);
}

@media (max-width: 500px) {
    .pokemon-types {
        gap: 0px;
    }
}