.large-line-height {
	line-height: 1.25;
}

.pokemon-miniature {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	text-decoration: none;
	line-height: 1.25;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	padding: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 600;
	color: var(--textColor);

	.type-corner-container {
		border-radius: 5px;
		position: absolute;
		top: -2px;
		right: -2px;
		width: 18%;
		height: 18%;
		z-index: 2;
		pointer-events: none;
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		border-top-right-radius: 10px;
		overflow: hidden;
	}

	.type-corner-full {
		width: 100%;
		height: 100%;
	}

	.type-corner-half {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.type-corner-part1 {
		clip-path: polygon(0 0, 100% 0, 0 100%);
	}

	.type-corner-part2 {
		clip-path: polygon(100% 100%, 100% 0, 0 100%);
	}
}

.mini-card-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;

	.images-container {
		.main-image-container {
			width: 64px;
			height: 64px;

			/* width: clamp(0px, calc(calc(80px / 1.5) + calc(80 / 1.5) * calc(100vw - 900px) / (1300 - 900)), calc(100px / 1.5));*/
			/* height: clamp(0px, calc(calc(80px / 1.5) + calc(80 / 1.5) * calc(100vw - 900px) / (1300 - 900)), calc(100px / 1.5));*/
		}
	}
}

.main-image-container {
	display: flex;
}

.pokemon_main_info {
	height: 215px;
}

.pokemon_main_info .main-image-container {
	display: flex;
	flex-direction: row;
	position: relative;
}

.pokemon_main_info .images-container {
	justify-self: flex-end;
	max-height: 215px;
	max-width: 215px;
}

.cp-container {
	color: var(--cp-color);
}

@media (width <= 500px) {
	.pokemon_main_info {
		height: 175px;
	}

	.pokemon_main_info .images-container {
		max-height: 175px;
		max-width: 175px;
	}
}

@media (width <= 565px) {
	.mini-card-content {
		.images-container {
			.main-image-container {
				width: 45px;
				height: 45px;
			}
		}
	}

	.pokemon-miniature {
		font-size: 10px;
	}
}
