@import "../index";

.ivs-table {
    height: 75vh !important;
}

.extra-ivs-options {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: center;
}

.Mui-selected {
    background-color: $tableRowSelected !important;
}

.ivs-nav {
    margin-top: 20px;
    background-color: unset;
    justify-content: center;
}

.MuiTableContainer-root,
.MuiTableCell-head {
    color: $textColor !important;
    background-color: $tableBackground !important;
    color-scheme: dark !important;
}

.MuiTableCell-body {
    color: $textColor !important;
}

.MuiButtonBase-root.MuiTableSortLabel-root.Mui-active {
    color: $tableHeaderSortable;
}

.MuiTableRow-hover {
    &:hover {
        background-color: $tableBackgroundHover !important;
    }
}

.MuiTableSortLabel-root {
    &:hover {
        color: $tableHeaderSortable !important;
    }
}

@media (max-width: 500px) {
    .ivs-nav {
        margin-top: 0px;
        justify-content: safe center;
    }
}