.pokemon-number {
    border-radius: 12px;
    padding: clamp(3px, 1.72vw, 6px) clamp(6px, 1.72vw, 12px);
    background-color: var(--buttonsBackground);
    font-size: clamp(9px, 1.72vw, 14px);
    border: 1px solid var(--borderColor2);
}

.rank-change {
    font-size: clamp(7px, 1.52vw, 12px);
}

.buffed {
    color: rgb(14, 153, 14);
}

.nerfed {
    color: rgb(205, 30, 30);
}

.break-line {
    display: none;
}

@media (max-width: 355px) {
    .pokemon-number {
        padding: 3px;
    }
}