.images_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-image {
    width: 100%;
    height: 100%;
}

.shadow-overlay {
    opacity: 1;
    position: absolute;
    top: 67%;
    left: 10%;
    width: 24%;
    height: 24%;
    z-index: 2;
}

.xl-overlay {
    opacity: 1;
    position: absolute;
    top: 67%;
    right: 25%;
    width: 12%;
    height: 12%;
    z-index: 2;
}

.buddy-overlay {
    opacity: 1;
    position: absolute;
    top: 67%;
    right: 10%;
    width: 12%;
    height: 12%;
    z-index: 2;
}