.grid_container {
	// max-width: 55%;
	// min-width: 55%;
	// width: 55%;
	// margin: 0 auto;  //
	max-width: 1600px; // 1300
	height: 100%;

	a {
		text-decoration: none;
	}
}

.grid {
	display: flex;

	// justify-content: center;
	overflow: hidden auto !important;
	scrollbar-width: none;
}

.ReactVirtualized__Grid__innerScrollContainer {
	margin-left: 4px;
}

.mini-card-wrapper {
	width: 100%;
	height: 100%;
	background-color: var(--gridItemsBackgroundColor) !important;
	border: 1px solid var(--borderColor2);
	border-radius: 14px;
	box-shadow: 0 4px 24px 0 rgba(148, 148, 175, 0.1);

	&:hover {
		border: 1px solid var(--buttonsBorderColor);
	}
	&:has(.is-great) {
		&:not(.with-golden-border) {
			border: 2px solid #7ba7cd;
		}
		background-color: #7ba7cd67 !important;
	}
	&:has(.is-ultra) {
		&:not(.with-golden-border) {
			border: 2px solid #c9c089;
		}
		background-color: #c9c08934 !important;
	}
	&:has(.is-master) {
		&:not(.with-golden-border) {
			border: 2px solid #b198d3;
		}
		background-color: #ae98d33a !important;
	}
	&:has(.is-raid) {
		&:not(.with-golden-border) {
			border: 2px solid rgb(205 165 148);
		}
		background-color: rgb(205 165 148 / 15.1%) !important;
	}
}

.card-wrapper {
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: var(--gridItemsBackgroundColor) !important;
	border: 1px solid var(--borderColor2);
	border-radius: 14px;
	box-shadow: 0 4px 24px 0 rgb(148 148 175 / 10%);
}

.softer {
	background-color: var(--rocket-softer);
}

.not-softer {
	background-color: var(--background-shadow);
}

.round-border {
	border-radius: 12px;
}

.rocket-card-wrapper {
	background-color: var(--gridItemsBackgroundColor2) !important;
}

.card-wrapper-padding {
	padding: 4px;
}

.mini-card-wrapper-padding {
	padding: 1px;
}

@media (width >= 500px) {
	a:hover,
	button:hover,
	.selectable:hover {
		filter: var(--hover-brightness);
	}
}

@media (width <= 1600px) {
	.grid_container {
		max-width: 1600px;
	}
}

@media (width <= 768px) {
	.grid_container {
		max-width: 100%;
	}
}

@media (width <= 599.9px) {
	.card-wrapper-padding {
		padding: 2px;
	}

	.ReactVirtualized__Grid__innerScrollContainer {
		margin-left: 1px;
	}
}

@media (width <= 435px) {
	.card-wrapper {
		padding: 1px;
	}
}
