@import "../index.scss";

.pokemon_main_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: $popup-background-color;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid $borderColor;
}

.pokemon_main_info > span:first-child {
    align-items: end;
    width: 256px;
    height: 256px;
    width: 100%;
}

.pokemon_metadata {
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
}

.pokemon_number {
    font-size: 60px;
    line-height: 1;
    display: block;
    opacity: .25;
    font-weight: 700;
}

.pokemon_types {
    display: flex;
    align-items: center;
    gap: 9px;
}

.pokemon_type_bg {
    border-radius: 12px;
    padding: 6px 12px;
    text-shadow: 0 0 10px rgba(0,0,0,.5),0 2px 3px rgba(0,0,0,.5);
    font-weight: 500;
    display: block;
}

.pokemon_stats {
    display: flex;
    gap: 9px;
}

.stats_ranks {
    align-items: center;
    gap: 22px;
    display: flex;
    flex-direction: row;
}

.cp_stats {
    align-self: end;
    align-items: center;
    gap: 9px;
    display: flex;
    flex-direction: column;
}

.cp-level,
.pvp_stat {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cp-level {
    gap: 5px;
}