.contain {
    display: grid;
    gap: 6px;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-shadow: -1px 0 #00000040, 0 1px #00000040, 1px 0 #00000040, 0 -1px #00000040;
}

.default-background {
    background-color: var(--popup-background-color);
}