

.autoComplete-root {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 8px;
    background-color: var(--buttonsBackground);
    color: var(--textColor);
}

.MuiInputBase-input,
.MuiFormLabel-root,
.MuiSvgIcon-root {
    color: var(--textColor) !important;
}

ul.MuiAutocomplete-listbox {
    padding: 0;
    color-scheme: var(--colorScheme);
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: var(--buttonsBackground) !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--buttonsBorderColor) !important;
}

.autoComplete-option {
    background-color: var(--dropdownOptionBlurred);
    color: var(--textColor);
}

label.MuiFormLabel-root.MuiInputLabel-root {
    background-color: unset !important;
}

.Mui-disabled {
    color: var(--textColor) !important;
    opacity: 50%;
}

.Mui-focused {
    background-color: var(--dropdownOptionFocused) !important;
    color: var(--textColor) !important;
}