.pokemon_main_info {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-self: center center;
	gap: 6%;
}

.with-margin-bottom {
	margin-bottom: 9px;
}

.with-margin-top {
	margin-top: 9px;
}

.with-small-margin-top {
	margin-top: 5px;
}

.shifted-left {
	left: -5px;
	position: relative;
}

.with-margin-left {
	margin-left: 9px;
}

.pkm-stats-container {
	margin-top: 16px;
	font-size: large;
	display: flex;
	gap: 15px;
}

.stat-label {
	color: var(--stat-label-color);
}

.stat-value {
	color: var(--statValueColor);
}

.atk-stat,
.def-stat,
.hp-stat {
	text-align: center;
}

.pokemon_types {
	display: flex;
	align-items: center;
	gap: 9px;
	margin-top: 16px;
}

.pokemon_type_bg {
	color: var(--titleTextColor);
	border-radius: 12px;
	padding: 6px 12px;
	font-weight: 500;
	display: block;
}

.weighted-font {
	font-weight: 500;
}

.heavy-weighted-font {
	font-weight: 800;
}

.cp-level {
	display: flex;
}

.contained-big {
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom;
}

.very-big {
	font-weight: 700;
	font-size: clamp(35px, 7vw, 50px);
	line-height: 1;
}

.no-contrast {
	filter: contrast(0);
}

.pkm-weather-boost-img {
	width: 32px;
	height: 32px;
}

.shadow-toggle-button {
	border: 1px solid var(--borderColor2);
	background: transparent;
	padding: 2px;
	display: flex;
	height: 38px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 12px;
	margin-bottom: 6px;
}

.padded-sides {
	padding: 0px 6px;
}

.shadow-toggle-button .shadow-icon {
	opacity: 0.35;
	transition:
		opacity 120ms ease-in-out,
		transform 120ms ease-in-out;
	filter: drop-shadow(0 0 1px rgb(0 0 0 / 30%));
}

.shadow-toggle-button.active .shadow-icon {
	opacity: 1;
}

@media (hover: hover) {
	.shadow-toggle-button:hover .shadow-icon {
		opacity: 0.7;
		transform: scale(1.05);
	}
}

@media (width <= 500px) {
	.contained-big {
		font-size: 11px;
	}

	.pkm-stats-container {
		font-size: unset;
	}
}

@media (width <= 440px) {
	.pkm-stats-container {
		gap: 12px;
	}
}

@media (width <= 410px) {
	.pkm-stats-container {
		gap: 10px;
	}
}

@media (width <= 380px) {
	.pkm-stats-container {
		font-size: small;
	}

	.pkm-weather-boost-img {
		width: 24px;
		height: 24px;
	}

	.pkm-stats-container {
		gap: 11px;
	}
}

@media (width <= 360px) {
	.pkm-stats-container {
		gap: 10px;
	}
}
