.footer {
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    z-index: 40000;
    border: 1px solid var(--borderColor2);
    background-color: var(--headerBackground);
    color: var(--textColor);
    padding: 6px;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    transition: opacity 200ms ease, visibility 200ms linear, transform 200ms linear;
}

.footer-visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
  
.footer-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(65px);
}