.navbar {
    height: 75px;
    border-bottom: 1px solid var(--borderColor2);
    background-color: var(--headerBackground);
    color: var(--textColor);
    padding: 6px;
    display: flex;
}

.options-menu {
    top: 75px;
    background: var(--headerBackground);
    color: var(--textColor);
    position: absolute;
    z-index: 200;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,.293),0 12px 11px #00000049,0 100px 80px #00000012;
}

.option-entry {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
    line-height: 1.25;
    color: inherit;
}

.options-li {
    width: 100%
}

.options-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding-left: 0;
    grid-gap: 6px;
    gap: 6px;
}

.strong-underline {
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid var(--underlineDivision);
}

.options-nav {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px 12px 72px;
    margin: auto;
    gap: 36px;
    max-width: 1300px;
    background: var(--headerBackgroundSide);
}

.options-menu.visible {
    display: block;
}

.options-menu.hidden {
    display: none;
}

.navbar-section {
    display: grid;
    grid-template-columns: 40px 100px 1fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 18px;
    gap: 18px;
    max-width: 65%;
    margin: auto;
    width: 100%;
}

.navbar-logo {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
}

.navbar-logo-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
}

.navbar-dropdown {
    width: 80%;
    font-size: smaller;
    
    >* {
        border: 1px solid var(--borderColor2);
    }

    * {
        color: var(--textColor) !important;
        background: var(--buttonsBackground) !important;
        overflow: unset !important;
    }
}

button {
    color: var(--buttonsTextColor);
    border-radius: 12px;
    font-size: inherit;
}

.hint-container {
    display: flex;
    gap: 9px;

    img {
        background: unset !important;
    }
}

.navbar-menu {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 42px;
    padding: 9px;
    align-items: center;
    justify-content: center;
    background-color: var(--buttonsBackground);
    border: 1px;
    border-style: solid;
    border-color: var(--borderColor2);
    cursor: pointer;
    &:hover {
        border: 1px solid var(--buttonsBorderColor);
    }
    box-shadow: 0px 0px rgba(3, 7, 18, 0.1), 0px 1px 1px rgba(3, 7, 18, 0.08), 0px 1px 1px rgba(3, 7, 18, 0.06), 0px 3px 3px rgba(3, 7, 18, 0.04), 0px 4px 4px rgba(3, 7, 18, 0.02)
}

.navbar-menu-img {
    justify-self: center;

    &.cross {
        width: 16px;
        height: 16px;
    }
}

.theme-light {
    .navbar-menu-img {
        filter: brightness(0.3);
    }
}

.search-wrapper {
    position: relative;
}

.MuiAutocomplete-popper * {
    display: block;
}

@media (max-width: 800px) {
    .navbar-section {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .navbar {
        height: 65px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .options-nav {
        gap: 24px;
    }

    .navbar-menu {
        display: flex;
        order: 3;
        height: 40px;
        span {
            display: none;
        }
    }

    .navbar-section {
        gap: 16px;
        max-width: 100%;
        grid-template-columns: 32px 1fr 45px;
    }

    .search-wrapper {
        position: static;
    }

    .options-menu {
        top: 65px;
    }

    .navbar-dropdown {
        font-size: 12px;
        width: 100%;
    }

    .hint-container {
        gap: 5px;
    }
}

@media (max-width: 351px) {
    .country-flag {
        display: none;
    }
}

@media (min-width: 500px) {
    div[tabIndex="-1"]:hover:has(> div.hint-container) {
        background: var(--selectionHover) !important;
        * {
            background: var(--selectionHover) !important;
        }
    }
}