* {
    box-sizing: border-box;
    overscroll-behavior: none !important;
    @media (min-width: 501px) {
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--scroll-background); /* Color of the thumb (the draggable part) */
            border-radius: 4px;
        }
        &::-webkit-scrollbar-button {
            display: none;
        }
        &::-webkit-scrollbar-corner {
            background-color: #fff;
        }
    }
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}