.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
}

@media (max-width: 1920px) {
    .container {
       max-width: 1240px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}